### Installing Packages

In [ ]:
! echo "Upgrading pip"
! python.exe -m pip install --upgrade pip
! echo "Installing Deps"
! pip install -r requirements.txt
! echo "Installed Deps"
! pip freeze > requirements.txt

### Importing Packages

In [252]:
import pandas as pd

file_path = "data/excel_file.xlsx"

### Read Excel Sheet

In [265]:
df = pd.read_excel(
    file_path, 
    sheet_name="Apr 91",
    skiprows=2,
    usecols=[5, 6, 8],
)

### Change column names

In [266]:
df.columns = ["Passed", "Job No.", "Code Head"]

### Perform Operation

In [255]:
df = df.dropna(subset=["Passed", "Job No.", "Code Head"])
df

     Passed        Job No.  Code Head
0     78027      Maint TMF  61/066/48
2    155060       Maint BM  61/066/48
3     15400    Maint KCITS  61/066/48
4    748132  Resurf BCT NH  61/066/47
5    722392     Resurf TMF  61/066/48
6    287533        103/700  61/069/14
7    179766      Maint BCT  61/066/48
8    264400   Maint BCT NH  61/066/47
9     89322        103/612  61/069/14
10    91373        103/700  61/069/14
11   472028         10/715  61/069/32
12   363027        103/709  61/017/05
13   290033      Maint BCT  61/066/48
14   275147   Maint BCT NH  61/066/47
15   120634      Maint TMF  61/066/48
16   152046       Maint BM  61/066/48
17   314300        103/612  61/069/14
18   158753         10/715  61/069/32
19   167120        103/709  61/017/05
20   313713      Maint BCT  61/066/48
21  1648223        103/612  61/069/14
22    98843        103/612  61/069/14
23    34800   Maint BCT NH  61/066/47
24    38533   Maint Build   61/066/47
25   356619     Maint BBP   61/066/47
26    13860      Maint TMF  61/066/48
27    66219    Maint OKSRT  61/066/48
28   165094   Maint BCT NH  61/066/47
29   306693     Maint TMF   61/066/48
30    30800      Maint CRG  61/066/48
31   597006    Maint OKSRT  61/066/48
32    70500        103/700  61/069/14
33   154000       Maint SM  61/066/48
34   152460       Maint MP  61/066/48
35    47807   Maint BCT NH  61/066/47
36   442188       Maint PM  61/066/48
37  2638920     I-2407/135  61/069/14
38   135520     I-2407/144  61/069/14
39   247173     I-2407/141  61/069/14
40    86400        103/612  61/069/14
41   139100      Maint BCT  61/066/48
42    21600     Maint BBP   61/066/47
43   689501     I-2407/135  61/069/14
44  1463058    Maint OKSRT  61/066/48
45   390133   Resurf OKSRT  61/066/48
46   286506    Maint OKSRT  61/066/48
47   223399   Resurf OKSRT  61/066/48

In [261]:
df = df.groupby(["Code Head", "Job No."]).sum()
df

                          Passed
Code Head Job No.
61/017/05 103/709         530147
61/066/47 Maint BBP       378219
          Maint BCT NH    787248
          Maint Build      38533
          Resurf BCT NH   748132
61/066/48 Maint BCT       922612
          Maint BM        307106
          Maint CRG        30800
          Maint KCITS      15400
          Maint MP        152460
          Maint OKSRT    2412789
          Maint PM        442188
          Maint SM        154000
          Maint TMF       212521
          Maint TMF       306693
          Resurf OKSRT    613532
          Resurf TMF      722392
61/069/14 103/612        2237088
          103/700         449406
          I-2407/135     3328421
          I-2407/141      247173
          I-2407/144      135520
61/069/32 10/715          630781

In [262]:
def searchByJobNo(job: str) -> pd.DataFrame:
    return df.loc[df.index.get_level_values("Job No.") == job]


def searchByCodeHead(codeHead: str) -> pd.DataFrame:
    return df.loc[df.index.get_level_values("Code Head") == codeHead]

### Testing

Search by Code Head

In [263]:
searchByCodeHead('61/066/48')

                         Passed
Code Head Job No.
61/066/48 Maint BCT      922612
          Maint BM       307106
          Maint CRG       30800
          Maint KCITS     15400
          Maint MP       152460
          Maint OKSRT   2412789
          Maint PM       442188
          Maint SM       154000
          Maint TMF      212521
          Maint TMF      306693
          Resurf OKSRT   613532
          Resurf TMF     722392

Search by Job No.

In [264]:
searchByJobNo('Maint BCT')

                     Passed
Code Head Job No.
61/066/48 Maint BCT  922612